.styled-text {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            font-size: 20px;
            text-align: left;
            font-weight: bold;
        }